<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/complaint_portal.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo">
          Logo
        </div>
        <div class="links">
          <a href="/login">Home</a>
          <a href="/login">Complain</a>
          <a href="/login">Find a Doctor</a>
          <a href="/schemes">Health Scheme</a>
        </div>
        <div class="icons">
          <img src="Group.png" alt="Search" id="icon1">
          <img src="Group 6.png" alt="User" id="icon2">
        </div>
      </div>
      <div class="complaint-portal">
        <h1>Complaint Portal</h1>
      </div>
      <div class="input-boxes">
        <input type="text" name="name" placeholder="Pin Code" style="width: 15%;">
        <select name="complaint_type">
          <option value="1">Hospital1</option>
          <option value="2">Hospital2</option>
          <option value="3">Hospital3</option>
        </select>
        <input type="text" name="complaint" placeholder="Enter your complaint">
        <button type="submit" class="submit-button">Submit</button>
      </div>
</body>
</html>