<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&family=Montserrat:wght@100;400;500&display=swap");
    </style>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body>
    <section class="hero-section">
      <nav>
        <div class="nav-left-part">Logo</div>
        <div class="nav-right-part">
          <ul>
            <li class="nav-active">Home</li>
            <li><a href="/complain">Complain</a></li>
            <li><a href="/findDoctor">Find a doctor</a></li>
            <li><a href="/schemes">Health Scheme</a></li>
            <li><div id="google_translate_element"></div></li>
          </ul>
        </div>
      </nav>
      <main>
        <div class="main-section-left">
          <h1>Infinity Health Care</h1>
          <p>
            is a dynamic and forward-thinking organization dedicated 
            to making a positive impact in our community. With a 
            passionate team of professionals and a strong commitment 
            to our mission, we strive to bring about meaningful change 
            through our various initiatives
          </p>
          <div class="btn">Consult Today</div>
          <img src="./images/Vector.png" alt="vector" />
        </div>
        <div class="main-section-right">
          <img src="./images/hero-illustration.png" alt="hero-illustration" />
        </div>
      </main>
    </section>

    <section class="servies-section">
      <img src="./images/Vector.png" alt="vector" />
      <h2>Our Services</h2>
      <p class="servies-section-paragraph">
        Our organization is dedicated to serving the community's healthcare 
        needs in a comprehensive and compassionate manner. We understand that 
        navigating the healthcare system can be challenging, which is why we 
        provide a range of valuable services to make this process easier for you. 
      </p>
      <div class="services-box-grid">
        <div class="services-box">
          <img src="" alt="" />
          <h3>Complain Portal</h3>
          <p>
            A complaint portal for non-attending doctors is a digital platform
            designed to facilitate the submission and processing of complaints
            from patients.
          </p>
        </div>

        <div class="services-box">
          <img src="" alt="" />
          <h3>Health Schemes</h3>
          <p>
            Creating a section to consolidate all current government schemes,
            incorporating video assistance
          </p>
        </div>

        <div class="services-box">
          <img src="" alt="" />
          <h3>Doctor/Hospital Finder</h3>
          <p>
            A section where you can find expert doctor along with all the
            necessary details
          </p>
        </div>

        <div class="services-box">
          <img src="" alt="" />
          <h3>CHW Zone</h3>
          <p>A place where you can maximize your knowledge</p>
        </div>

        <div class="services-box">
          <img src="" alt="" />
          <h3>General Awareness</h3>
          <p>Get all the information about best health practise.</p>
        </div>

        <div class="services-box">
          <img src="" alt="" />
          <h3>Language Support</h3>
          <p>
            Lorem rovid mibusdam lorem rovid mibusdamexercitationem voluptatem,
            tenetur sint?
          </p>
        </div>
      </div>
    </section>
    <section class="testimonial-section">
      <h3>What the customer Said</h3>
      <div class="testimonial-section-flex">
        <div class="user">
          <img src="./images/user-img.jpg" alt="user-image" height="100px" />
          <h4>Mr.Chakram Lal Sharma</h4>
        </div>
        <div class="testimonial">
          <p>
            "Discovering Infinity Health Care has been a game-changer for me. As
            someone who's always prioritized their well-being, I was thrilled to
            find a one-stop resource for all things health-related. From
            informative articles and expert advice to interactive tools and a
            supportive community, this website has it all. It's like having a
            personal health guide right at your fingertips".
          </p>
        </div>
        <div class="slider">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </section>
    <section class="stats">
      <div class="stats-box">
        <div class="stats-num">4000+</div>
        <div class="stats-type">Complains Forworded</div>
      </div>
      <div class="stats-box">
        <div class="stats-num">2000+</div>
        <div class="stats-type">Doctor Registered</div>
      </div>
      <div class="stats-box">
        <div class="stats-num">25k+</div>
        <div class="stats-type">People Benifited</div>
      </div>
      <div class="stats-box">
        <div class="stats-num">18+</div>
        <div class="stats-type">States</div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Health Scheme</a></li>
              <li><a href="#">Our Policies</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col visibility">
            <h4>Another Section</h4>
            <ul>
              <li></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Translate Script -->

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
  </body>
</html>
