<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
    }
    .left-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 50px;
      width: 50vw;
      height: 100vh;
      gap: 6px;
    }
    .line {
      width: 250px;
      height: 2px;
      background-color: #000;
    }
    .right-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 50px;
      background-color: #fff;
      width: 50vw;
      height: 100vh;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .details {
      border-radius: 20px;
      border: 0;
      outline: 0;
      padding-left: 30px;
      background-color: #d9d9d9;
      text-transform: uppercase;
      width: 300px;
      height: 40px;
    }
    .btn {
      border-radius: 15px;
      border: 0;
      outline: 0;
      margin: 6px;
      background-color: #d9d9d9;
      text-transform: uppercase;
      width: 100px;
      height: 40px;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    .btn-login {
      background-color: #000;
      color: white;
    }
  </style>
  <body>
    <div class="container">
      <div class="left-container">
        <h1>Infinity Health Care</h1>
        <div class="line"></div>
        <p>We are there to help you</p>
      </div>
      <div class="right-container">
        <form action="/home" method="post" class="form">
          <input type="name" name="name" placeholder="NAME" class="details" />
          <input
            type="password"
            name="password"
            placeholder="PASSWORD"
            class="details"
          />
          <button type="submit" class="btn btn-login">REGISTER</button>
        </form>
        
        </div>
      </div>
    </div>
  </body>
</html>
